<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="container">
            <h1>Masthead</h1>
            <nav>
                <a href="#">link 1</a>
                <a href="#">link 2</a>
                <a href="#">link 3</a>
            </nav>
        </header>
        <main class="container">
            <h2>Page Header</h2>
            <h3>Section Header</h3>
            <img src="https://dummyimage.com/600x400/000/fff" alt="image">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium porro voluptatum esse, reiciendis voluptatem quidem nam voluptas fugit incidunt ex quos asperiores at sunt culpa possimus dolore dignissimos, ipsum libero?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore veritatis quis maiores odit, obcaecati totam magni, deleniti iste porro, earum consequatur. Corrupti aliquam omnis obcaecati perspiciatis magnam neque et. Sit!</p>
            <h3>section header</h3>
            <img src="https://dummyimage.com/400x320/000/fff" alt="image">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam eveniet aspernatur sed fugiat pariatur natus ab minus repudiandae ipsa ipsum! Officia vero fuga sint impedit molestias. Odio non corporis ratione?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti consequuntur iusto quaerat illum nemo quam reprehenderit sequi temporibus ab aut, accusantium, rem tenetur provident facilis nisi debitis soluta ducimus a.</p>
        </main>
        <aside class="container2">
            <h2>Aside Header</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit asperiores, fugit excepturi tempora vero aut, autem nostrum numquam voluptatibus minus nobis quam ab ipsum tempore blanditiis, quos dolor! Vel!</p>
        </aside>
        <footer class="container">
            <p>&copy; Matthew Wiszowaty 2024</p>
        </footer>
    </div>
</body>
</html>