
body{
    background: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
    
h1{
    text-align:center;
    color: lightblue;
}
    
h2{
    color: lightblue;
}

p{
    color: lightblue;
    text-align: center;
}
ul{
    color: lightblue;
    text-align: center;
}
.container{
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid lightblue;
    min-height: 50px;
}
nav{
    width: 80%;
    margin:10px auto;
    text-align: center;
    line-height: 3;
}

nav a{
    text-decoration: none;
    margin: 5px;
    background: rgb(43, 43, 43);
    padding: 5px 10px;
    color:lightblue;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 20px;
}

nav a:hover{
    color: lightblue;
    background: rgb(43, 43, 43);
}
img{
    width: 30%;
    display: block;
    margin: 10px auto; 
}