
body{
    background: rgb(43, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
    
h1,h2 {
    text-align:center;
    color: lightblue;
}
    
h3{
    color: lightblue;
}

p{
    color: lightblue;
    text-align: center;
}
ul{
    color: lightblue;
    text-align: center;
}
.container{
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid lightblue;
    min-height: 50px;
}
nav{
    width: 80%;
    margin:10px auto;
    text-align: center;
    line-height: 3;
}

nav a{
    text-decoration: none;
    margin: 5px;
    background: rgb(43, 43, 43);
    padding: 5px 10px;
    color:lightblue;
    border: 2px solid lightblue;
    border-radius: 20px;
}

nav a:hover{
    color: rgb(43, 43, 43);
    background: lightblue;
}
.row{
    display: flex;
}
.column{
    flex: 50%;
    padding: 10px;
    text-align:center;
}
img{
    width: 30%;
    display:block;
    margin: 10px auto; 
    padding: 20px;
}
#float-left img{
    float: left;
}
div {
    min-height: 250px;
    overflow: auto;
}