body{
    background:lightpink;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid red;
    min-height: 50px;
    margin: 20px auto;
    border-radius: 20px;
}

img{
    width: 30%;
    height: auto;
    display: block;
    margin: 10px auto;
}
h1 {
    font-family: "Times New Roman", Times, serif; /* Different font family for h1 */
    text-align: center;
    color: red;
    font-weight: bolder;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif; /* Different font family for h2 */
    text-align: center;
    color: red;
    font-weight: bold;
}

p {
    padding: 20px;
    text-align: left;
    color: maroon;
}